@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat.ttf);
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* CSS Navbar!*/
.caja{
    width: auto;
    position: relative;
    margin: 0 auto;
    
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #1E73BE;

    
}

nav li{
    display: inline;
    margin: 0 0 0 0.95rem;

    
}

.imglogo{
    position: relative;
    margin-left: 0px;
    width:140px;
    bottom: 0px;

}

nav a{
    text-transform:initial;
    color: white;
    font-size: 0.9rem;
    /* font-family: monserrat; */
    text-decoration: none;
    display:inline-flex;  
    margin-top: 0.3rem;
    margin-left: 3em;
    padding-top: 0.13rem;
}
.textop{
    align-self: center;
    width: 9.5rem;
    text-align: center;
}

.imgnav{
    height: 2.5em;
    width: 2.5em;
    margin-right: 1.3rem;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;

}
/*container 1*/

.container {
    display: flex;
    align-items: center; /* Centra los elementos en el eje vertical */
    justify-content: center; /* Centra los elementos en el eje horizontal */
    margin-top: 2%;
  }
  
  .text-section {
    flex: 1;
    text-align:left; /* Centra el contenido de texto dentro de su sección */
    margin-left: 10%;
    margin-top: 2%;
    letter-spacing: 0.5px;
  }

  .titulo1{
    font-size: 40px;
    font-weight: bold;
    padding: 11px;
    color: #1E73BE;
}
.parrafo1{
    font-size: 36px; 
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #1E73BE;
    line-height: 1.5;
   
}
.parrafo2{
    font-size: 18px; 
    padding: 10px;
    color: #777E84;
    line-height: 1.5;
}
  
  .image-section {
    flex: 1;
    margin-top: 60px;
    text-align: center; /* Centra la imagen dentro de su sección */
  }
  
  .recep1 {
    border-radius: 50%;
    /* max-width: 70%;
    min-height: 300px; */
    max-height: 600px;
    display: inline-flex; /* Esto hace que la imagen se centre en su contenedor */
    margin: 0 auto; /* Esto centra la imagen horizontalmente */
  }

  .buttons-section1 button {
    width: 30%;
    padding: 10px;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #23A6F0;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.buttons-section1 button:hover{
    background: white;
    color: #23A6F0;
    border: 1px solid #23A6F0;
}
  

/* tarjetas de informacion */
  
.card-section {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 700px;
    justify-items: center;
    align-items: center;
    margin-top: 320px;
    gap: 10px;
    /* grid-template-areas:    "informacion1 imagen1"
                            "imagen2 informacion2"
                            "informacion-logo1 informacion-logo2"
                            "informacion3 imagen3"; */
}

.card-section h2 {
    color: #FFFFFF;
    position:relative;
    /* position: absolute; */
    z-index: 2;
    /* font-weight: bold; */
    font-size: 30pt;
    line-height: 1.5;
    justify-self: center;
}

.card-section span {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:#8DD6FF;
    text-decoration-thickness: 6px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: absolute; */
    position:relative;
    z-index: 2;
    width: 60%;
    height: 60%;
    /* min-width: 10%; */
    /* min-height: 100vh; */
    /* max-height: 100vh; */
    /* background: #D9D9D9; */
    /* border-radius: 40px; */
    margin: 10px ;
    padding: 40px;
}

.card div {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .card-title{ /*front*/
    font-weight: bold;
    font-size: 20pt;
    /*line-height: 21px;
    margin-top: 60px; */
    border-radius: 40px;
    /* background: #D9D9D9;  */
    background-image: url('./img/foto/examenes-medicos.png');
    background-size: auto;
    color: #1E73BE;
    transform: perspective(400px) rotateY(0deg);
}

.card .card-content{ /*back*/
    /* overflow: auto;
    text-overflow: ellipsis;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    font-family: monserrat;
    font-size:medium;
    line-height: 1.5; */
    font-size: 10.5pt;
    border-radius: 40px;
    padding: 10px 20px;
    line-height: 1.6;
    background: #D9D9D9; 
    color: #777E84;
    transform: perspective(400px) rotateY(180deg);
    overflow: auto;
}

.card:hover .card-title{ /*front*/
    transform: perspective(400px) rotateY(180deg);
}

.card:hover .card-content{ /*back*/
    transform: perspective(400px) rotateY(360deg);
}

.card-content-list {
    list-style-type : square;
}

.square1 {
    position: absolute;
    /* position: relative; */
    left: 0px;
    z-index: 1;
    width: 35%;
    height: 600px;
    background: #1E73BE;
}

.square2 {
    position: absolute;
    /* position: relative; */
    right: 0 ;
    z-index: 1;
    width: 12%;
    height: 600px;
    background: #1E73BE;
}


/* ----información servicios ------ */

.contenedor-info-servicios {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-auto-rows: 350px 350px 350px 350px;
    text-align: end;
    justify-items: end;
    margin-top: 10em;
    gap: 10px;
    grid-template-areas:    "informacion1 imagen1"
                            "imagen2 informacion2"
                            "informacion-logo1 informacion-logo2"
                            "informacion3 imagen3";
}

.informacion-img1 {
    /* width: 280px; */
    width: 70%;
    height: 315px;
    background-color: #65C22C;
    position: relative;
    grid-area: imagen1;
}
.informacion-img3 {
    /* width: 280px; */
    width: 60%;
    height: 315px;
    background-color: #65C22C;
    position: relative;
    grid-area: imagen3;
    margin-top: 50px;
}

.informacion-img1 > img,
.informacion-img3 > img {
    /* width: 410px; */
    width: 100%;
    height: 290px;
    position: absolute;
    right: 100px;
    top: 10px;
    border-radius: 30px;
}

.informacion1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: informacion1;
    padding: 1.5rem;
    margin-left: 2em;
}
.informacion2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: informacion2;
    padding: 1.5rem;
}
.informacion3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: informacion3;
    padding: 1.5rem;
}

.informacion1 > p,
.informacion2 > p,
.informacion3 > p {
    text-align: center;
    font-size: 18px;
    color: #777E84;
    line-height: 1.5;
}

.informacion1 > h2,
.informacion2 > h2,
.informacion3 > h2{
    font-weight: 400;
    font-size: 42px;
    color: #1E73BE;
    text-align: start;
}

.informacion1 span,
.informacion2 span,
.informacion3 span {
    font-weight: bold;
}

.informacion1 .linea-verde, 
.informacion1 > span,
.informacion2 .linea-verde, 
.informacion2 > span
.informacion3 .linea-verde, 
.informacion3 > span{
    display: inline-block;
}

.informacion-img2 {
    /* width: 280px; */
    width: 60%;
    height: 315px;
    background-color: #65C22C;
    position: relative;
    justify-self: start;
    grid-area: imagen2;
    
}

.informacion-img2 > img {
    /* width: 410px; */
    width: 100%;
    height: 290px;
    position: absolute;
    left: 100px;
    top: 10px;
    border-radius: 30px;
}

.servicios-logo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: informacion-logo1;
}

.servicios-logo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    grid-area: informacion-logo2;
}

.servicios-logo1 > h2,
.servicios-logo2 > h2 {
    font-weight: 600;
    font-size: 32px;
    color: #1E73BE;
}

.servicios-logo1 > p,
.servicios-logo2 > p {
    font-size: 18px;
    color: #777E84;
    margin: 2em;
    text-align: center;
    margin-right: 2em;
    line-height: 1.5;
}

#individuales {
    text-decoration: underline;
    text-decoration-color: #65C22C;
    text-decoration-thickness: 10px;
}

.linea-verde {
    width: 168px;
    height: 10px;    
    background: #65C22C;
}

/*maricaditas varias */

#volante:hover{
    transform: rotate(180deg);
    transition: 400ms;
}

#lupa:hover{
    transform:scale(1.2);
    transition: 400ms;
}

#maletin:hover{
    transform:scale(1.2);
    filter: opacity(0.5) ;
    transition: 400ms;
}

#pistola:hover{
    transform:rotate(-10deg) translateX(-1rem);
    transition: 400ms;
}

/*FIN maricaditas varias */

/* FIN CSS Navbar!*/




/* CSS imagenes valoraciones */

.info-servicios{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 600px;
}
.cuadro_gris{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    width: 100%;
    height:8rem;
    background: rgba(128, 128, 128, 0.486);
    margin: 12rem 0;
}

.valoraciones li{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    display: inline-block; /*se alinea la liste de forma horizontal */
    text-align: center; /* texto al centro*/
    width: 15%;
    vertical-align: top;  
    margin: 0 1.0%;
    padding: 0rem 0.08rem;
    border-radius: 1rem;
}

.img_validaciones1{
    box-sizing: border-box;
    background: #65C22C;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    scale:0.80;
}

.img_validaciones2{
    box-sizing: border-box;
    background: #1E73BE;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    scale:0.80;
    
}

#item4{
    margin-left:75%;
    text-align: center;
}

#item3{
    margin-left:52%;
    text-align: center;
}

#item2{
    margin-left:28%;
    text-align: center;
}

#item1{
    margin-left:6%;
    text-align: center;
}


.titulos_validaciones{
    margin-left: 30%;
    margin-top: 0;
    font-size: 1.6rem;
    font-weight: bold;
    text-align:center;
    color:#1E73BE;
}


/* FIN CSS imagenes valoraciones */



/*Contactanos estructura*/


.contact{
    margin-left:5%;
    font-weight: bold;
    font-size:2.02rem;
    color:#1E73BE
}

.linea-verde1{
    margin-top:1%;
    margin-left:5%;
    width: 300px;
    height: 10px;    
    background: #65C22C;
}

.infodecontacto{
    position:relative;
    margin-left:10%;
    margin-top: 4%;
    background-color:#1E73BE;
    float:left;
    width:30%;
    text-align:center;
    line-height:2.5rem;
    color:white;
    padding: 2% 0px;
    
}

form{
    position: relative;
    margin-left: 50%;
    border-left: solid;
    border-width: 3px;
    border-left-color: #1E73BE;
    padding-left: 5%;
    margin-bottom: 5%;
}

.form_box{
    position: relative;
    float:left;
    width:50%;
    
}



form label,form legend{
    display:block;
    font-size: 1.26rem;
    font-weight: bold;
    color:#1E73BE;
    margin: 10px;
}

#correo,#nombre,#mensaje{
    margin-left: 5%;
    margin: 1%;
    padding-right: 40%;
    padding-bottom: 0.5%;
    background: rgb(206, 201, 201);
    border: none;
}


.enviar{
    width: 15%;
    margin: 1em  0 1em 70%;
    padding: 0.2rem ;
    font-size:1.2rem;
    font-weight: bold;
    background:#1E73BE;
    color:#fefefefe;
    border:none;
    cursor:pointer;
    text-align: center;
    transition: 1s all;
}

.enviar:hover{
    background:darkblue;
    transform: scale(1.10);
    transition: 1s all;
    border-radius: 1rem;
}

/* carrusel*/
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
}

.images img {
    display: none;
    width: 50%;
}

.images img:first-child {
    display: flex;
}

/*FIN Contactanos estructura */

/*footer CSS*/

footer{
    text-align: center;
    color:white;
    display:block;
    background: #1E73BE;
    padding-top: 50px;
}

.logo_fisios_foot{
    padding: 10px;
    height: 2.5em;
}

footer a{
    color:white;
}

.logo_SS{
    height: 1.5em;
    padding: 10px;
}

/* FIN footer CSS*/

/* media-queries */
@media screen and (max-width: 768px) {
    .card {
        position:relative;
        z-index: 2;
        top:70px;
        left: 0px;
        width: auto;
        max-height: 450px;
        height: auto;
        background: #D9D9D9;    
        border-radius: 40px;
        margin: 10px ;
        padding: 3%;
        padding-bottom: 109px;
    }
    .contenedor-info-servicios {grid-template-areas:    
                                "imagen1 imagen1"
                                "informacion1 informacion1"
                                "imagen2 imagen2"
                                "informacion2 informacion2"
                                "informacion-logo1 informacion-logo1"
                                "informacion-logo2 informacion-logo2"
                                "imagen3 imagen3"
                                "informacion3 informacion3 "
                                "info-servicios info-servicios"
                                "contactenos contactenos";
    }
    .informacion-img1,
    .informacion-img2,
    .informacion-img3 {
        width: 70%;
    }

    
    .cuadro_gris,#item4,#item3,#item2,#item1,.valoraciones li{
        scale:0.5;
    }
}